# ----------------------------

# Python

# ----------------------------

**pycache**/
*.py[cod]
*$py.class

# ----------------------------

# Virtual Environment

# ----------------------------

venv/
env/
.venv/

# ----------------------------

# Django

# ----------------------------

*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ----------------------------

# Environment Variables

# ----------------------------

.env
.env.*

# ----------------------------

# Migrations (optional)

# ----------------------------

*/migrations/*
!*/migrations/**init**.py

# ----------------------------

# IDE / Editor

# ----------------------------

.vscode/
.idea/
*.swp
*.swo

# ----------------------------

# OS Files

# ----------------------------

.DS_Store
Thumbs.db

# ----------------------------

# Test / Coverage

# ----------------------------

.pytest_cache/
.coverage
htmlcov/

# ----------------------------

# Build / Distribution

# ----------------------------

build/
dist/
*.egg-info/

# ----------------------------

# Jupyter

# ----------------------------

.ipynb_checkpoints
